/* ./src/index.css */

/*! @import */
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
    body {
        direction: rtl;
        -webkit-tap-highlight-color:  rgba(255, 255, 255, 0);
        box-sizing: border-box;
    }
}

.scrollbar-sm::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.1);
    @apply rounded-sm;
    @apply bg-gray-100;
}

.scrollbar-sm::-webkit-scrollbar {
    @apply w-1 md:w-2 bg-gray-200;
}

.scrollbar-sm::-webkit-scrollbar-thumb {
    @apply rounded-sm bg-gray-200;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
}

.ripple{
  overflow: hidden;
  @apply relative cursor-pointer outline-none
}
.ripple::after {
  content: '';
  transform:scale(10,10);
  background-image: radial-gradient( circle , #fff 10%, transparent 10%);
  transition: transform 0.3s ,opacity 1s;
  @apply block absolute w-full h-full top-0 left-0  opacity-0
}
.ripple:active::after{
  transform: scale(0,0);
  opacity: .3;
  transition: 0s;
}