/* ./src/index.css */

/*! @import */
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  body {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    box-sizing: border-box;
  }
}

.min-content-height {
  height: min-content;
}

.ltr {
  direction: ltr;
}
.rtl {
  direction: rtl;
}
.border-r-transparent {
  border-right-color: transparent;
}
.border-l-transparent {
  border-left-color: transparent;
}
.border-t-transparent {
  border-top-color: transparent;
}
.border-b-transparent {
  border-bottom-color: transparent;
}
.scrollbar-hidden {
  scrollbar-width: 0;
  scrollbar-color: transparent transparent;
}
.scrollbar-hidden::-webkit-scrollbar {
  width: 0;
  background: transparent; /* make scrollbar transparent */
}
.scrollbar-sm::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.1);
  @apply rounded-sm;
}

.scrollbar-sm {
  scrollbar-width: thin;
}

.scrollbar-sm::-webkit-scrollbar {
  @apply w-1 md:w-1.5;
  @apply h-1 md:h-1.5;
}

.scrollbar-sm::-webkit-scrollbar-thumb {
  @apply rounded-sm bg-gray-200;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
}

.ripple {
  overflow: hidden;
  @apply relative cursor-pointer outline-none;
}
.ripple::after {
  content: "";
  transform: scale(10, 10);
  background-image: radial-gradient(circle, #fff 10%, transparent 10%);
  transition: transform 0.3s, opacity 1s;
  z-index: -1;
  @apply block absolute w-full h-full top-0 left-0  opacity-0;
}
.ripple:active::after {
  transform: scale(0, 0);
  opacity: 0.3;
  transition: 0s;
}

/*loading*/
.t-loader {
  -webkit-animation: spinner 0.7s linear infinite;
  animation: spinner 0.7s linear infinite;
}
.t-loader-middle {
  -webkit-animation: spinner-middle 0.7s linear infinite;
  animation: spinner-middle 0.7s linear infinite;
}

@-webkit-keyframes spinner-middle {
  0% {
    -webkit-transform: scale(1);
    opacity: 1;
  }
  50% {
    -webkit-transform: scale(0.8);
    opacity: 0.3;
  }
  100% {
    -webkit-transform: scale(1);
    opacity: 1;
  }
}

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: scale(0.8);
    opacity: 0.3;
  }
  50% {
    -webkit-transform: scale(1);
    opacity: 1;
  }
  100% {
    opacity: 0.3;
    -webkit-transform: scale(0.8);
  }
}

@keyframes spinner-middle {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(0.8);
    opacity: 0.3;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes spinner {
  0% {
    transform: scale(0.8);
    opacity: 0.3;
  }
  50% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    opacity: 0.3;
    transform: scale(0.8);
  }
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}